button {
  padding: 8px;
  /* border-radius: 6px; */
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.form-element {
  display: flex;
  flex-direction: column;
}

.form-step-controlls {
  width: 100%;
  margin: 12px 0px;
}
.form-step-controlls > *:not(:first-child) {
  margin-left: 8px;
}

.error {
  color: red;
}
